<div class="login-page">
  <div class="login-container">
    <div class="login-box">
      <h2 class="login-title">Login</h2>
     <!---->
      <div class="form-group">
        <label class="form-label">Email or Username</label>
        <input id="email" class="form-input"
          placeholder="Enter your email or username" 
          required
          minlength="4"   
          [(ngModel)]="user.usernameOrEmail"
          #userNameOrEmailField="ngModel"
        />
        
        <p class="error-message" *ngIf="userNameOrEmailField.invalid && userNameOrEmailField.touched">
          Please enter at least 4 characters.
        </p>
      </div>
      

   
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-input"
            placeholder="Enter your password" 
            required
            minlength="6"
            [(ngModel)]="user.password"
            #passwordField="ngModel"
          />
    
          <p class="error-message" *ngIf="passwordField.invalid && passwordField.touched">
            Password must be at least 6 characters long.
          </p>
        </div>

       
        <button (click)="OnLogin()" 
        class="btn-Bronw-background btn-hover-up"
        [disabled]="userNameOrEmailField.invalid || passwordField.invalid"
        [ngClass]="{ 'disabled-btn btn-hover-disabled': userNameOrEmailField.invalid || passwordField.invalid }">
      Login
      </button>

      
        <p class="signup-text">Don't have an account? 
          <a routerLink="/SignUp" class="signup-link">Sign up</a>
        </p>
      </div>
    </div>
  </div>

