
<div class="wrapper-parent">
<div class="add-product-container">
    <h2 class="page-title">Product Manager</h2>
    <form class="add-product-form" (ngSubmit)="onSubmit()">
      
        <!-- category Section -->
        <div class="category-management-grid">
  
            <add-category-product></add-category-product>
            <update-category-product></update-category-product>
            <delete-category-product></delete-category-product>
            
          </div>
           
          <div class="product-management">
            <div class="btns-grid">
                <button class="toggle-btn" [class.active]="activeSection === 'add'"
                    (click)="setActiveSection('add')">Add Product</button>
                <button class="toggle-btn" [class.active]="activeSection === 'update'"
                    (click)="setActiveSection('update')">Update Product</button>
                <button class="toggle-btn" [class.active]="activeSection === 'delete'"
                    (click)="setActiveSection('delete')">Delete Product</button>
            </div>

            <add-product [activeSection]="activeSection"></add-product>
            <!-- Add Product Section -->
              
            <!-- Update Product Section -->
            <update-product [activeSection]="activeSection"></update-product>
        
            <!-- Delete Product Section -->
            <delete-product [activeSection]="activeSection"></delete-product>

        </div>
         

</form>

</div>


