
.dropDowContainer{

  display: flex;
  z-index: 10;
  position: relative;
}

.dropDowContainer label{

margin-top: 0.4375rem;
margin-right: 0.625rem;

}

.dropdown {
    
    display: inline-block; /* Ensure it's aligned properly */
    width: fit-content;
}

/* Dropdown header */
.dropdown-header {
    padding: 10px;
    background-color: #fff; /* Set the background color */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

/* Arrow icon */
.arrow {
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-left: .4rem;
}

/* Rotate arrow on hover */
.dropdown-header:hover .arrow {
    transform: rotate(-135deg);
}

/* Dropdown menu */
.dropdown-menu {

   
}

/* Show the dropdown menu when the dropdown is active */
.dropdown.open .dropdown-menu {
    display: block;
    
}


.dropdown-menus {
    background-color: white;
    z-index: 10;
    width: fit-content;
    max-height: 13rem;
    overflow-y: auto;
    right: 0; /* Anchors the menu to the right edge */
    box-shadow: 0px 9px 6px rgba(0, 0, 0, 0.15); /* Added box shadow */
}

/* Webkit scrollbar styling for small scrollbar */
.dropdown-menus::-webkit-scrollbar {
    width: 6px; /* Small scrollbar width */
}

.dropdown-menus::-webkit-scrollbar-track {
    background: transparent;
}

.dropdown-menus::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Thumb color */
    border-radius: 10px;
    border: 1px solid transparent;
}


/* Dropdown options */
.dropdown-option {
    padding: .9rem;
    cursor: pointer;
}

/* Hover effect for options */
.dropdown-option:hover {
    background-color: #f0f0f0;
}
