


.cart-container {
    background: white;
    padding: 20px ;
    width: 417px;
    position: absolute;
    top: 0px;   /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    /* Optional, you can uncomment this if you want rounded corners */ 
    opacity: 1;
    z-index: 200;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    
}
.cart-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}
hr {
    border: none;
    height: 1px;
    background: #ddd;
    margin-bottom: 10px;
}
.cart-item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    column-gap: 20px;
}
.cart-item img {
    width: 105px;
    border-radius: 4px;
}

.cart-item-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.cart-item-info {
    display: flex;
    flex-direction: column;
}


.productName{

   
}

.cart-item-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item-details button {
    
    border: none;
    cursor: pointer;
    background-color: #9F9F9F;
    border-radius: 100%;
    color: white;
    font-size: 18px;
    opacity: .8;
    
}
.cart-item-price {
    font-size: 1rem;
   
}
.cart-summary {
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 50px;
}

.cart-summary span{

    margin-left: 9rem;
    color: var(--btn-brown);
}


.cart-item-quantity-span {

    font-size: 1rem;
    
}

.cart-item-price-span {

    font-size: 0.95rem;
    color: var(--btn-brown);
}

.cart-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.cart-actions button {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    font-size: .9rem;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.cart-actions button:hover {
    transform: translateY(-2px);  /* Moves the button 5px up */
    opacity: 1;  /* Makes the button fully opaque on hover */
}

.cart-btn {
    color: #000000;
}
.checkout-btn {
    
    color: #000000;
}

.headline-line{

    margin-bottom: 2rem;
}