.no-products {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--btn-brown);
    /* background-color: #FAF3EA; */
    /* border: 1px solid #ffbbbb; */
    border-radius: 8px;
    margin: 20px auto;
    width: fit-content;
  }
  