 

<shop-hero pageName="Shop" ActualPageName="Shop"></shop-hero>
<!---->
<showing-products-params></showing-products-params>
<product-list [products]="productsToDisplay"></product-list>

<div *ngIf="isFetching" class="no-products">
    <p>Loading products...</p>
  </div>
  
  <div *ngIf="!isFetching && errorDetected" class="no-products">
    <p>Error loading products. Please try again.</p>
  </div>
  
  <div *ngIf="!isFetching && !productsToDisplay.length && !errorDetected" class="no-products">
    <p>No product found.</p>
  </div>
  

<pagination [allProducts]="ProductsRetrievedFromDb" 
 [productsPerPage]="8"
 (OnproductPageIndexesChanges)="loadActualProductPage($event)"></pagination>
<service-and-warranty></service-and-warranty>



