<section class="categories-section">
    <h2 class="section-title">Our Categories</h2>
    <p class="section-description">Explore our wide range of categories, each designed to meet your specific needs and preferences.</p>
    
    <div class="grid-container">
      <div class="grid-item">
        <img src="Assets/Home/DiningImg.png" alt="Category 1" class="category-image">
        <h3 class="category-title">Dining</h3>
      </div>
      <div class="grid-item">
        <img src="Assets/Home/LivingImg.png" alt="Category 2" class="category-image">
        <h3 class="category-title">Living</h3>
      </div>
      <div class="grid-item">
        <img src="Assets/Home/BedroomImg.png" alt="Category 3" class="category-image">
        <h3 class="category-title">Bedroom</h3>
      </div>
    </div>
  </section>
  