* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.625rem 1.25rem; /* 10px 20px to rem */
  margin-left: 3.25rem;
  margin-right: 3.25rem;
}

.logo-container {
  display: flex;
  align-items: center;
  
}

.logo {
  width: 3.125rem;  /* 50px to rem */
  height: 2rem;     /* 32px to rem */
  margin-right: 0.625rem; /* 10px to rem */
}

.brand-name {
  font-weight: bold;
  font-size: 1.5rem; /* 24px to rem */
  color: #333;
}


.navbar-links {
  list-style: none;
  display: flex;        /* Align the list items in a row */
  gap: 3.25rem;         /* Add space between the items (1.25rem = 20px) */
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;      /* 16px to rem */
  font-weight: 500;     /* Medium bold (or use 'bold' for full bold) */
  transition: color 0.3s;
}


.navbar-links a:hover {
  color: #B0B0B0;
}

.navbar-icons {
  display: flex;
  gap: 3.25rem; /* Space between icons */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon-img {
  width: 1.5rem;    /* Adjust size */
  height: 1.5rem;   /* Adjust size */
  transition: opacity 0.3s;
}

.navbar-icon-img:hover {
  opacity: 0.7;   /* Optional: add hover effect for icons */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Black with opacity */
  z-index: 10;
  
}

