
<div *ngIf="cartVisible" class="overlay no-scroll " (click)="closeCart()"></div>

<nav class="navbar">
    <!-- Logo Section -->
    <div class="logo-container" >
      <img src="Assets/Home/logo.png" alt="Logo" class="logo">
      <span class="brand-name">Furniro</span>
    </div>

    <!-- Navigation Links -->
    <ul class="navbar-links">
      <li><a routerLink="Home"    routerLinkActive="active-link" >Home</a></li>
      <li><a routerLink="Shop"    routerLinkActive="active-link">Shop</a></li>
      <li><a routerLink="About"   routerLinkActive="active-link">About</a></li>
      <li><a routerLink="Contact" routerLinkActive="active-link">Contact</a></li>
    </ul>

    <!-- Icons -->
    <div class="navbar-icons">
      <a href="#" class="icon">
        <img src="Assets/Home/logIcon.png" alt="LogIn" class="navbar-icon-img">
      </a>
      <div  class="icon">
        <img src="Assets/Home/SearchIcon.png" alt="Search" class="navbar-icon-img">
      </div>
      <a href="#" class="icon">
        <img src="Assets/Home/LoveIcon.png" alt="User" class="navbar-icon-img">
      </a>
      <a href="#" class="icon">
        <img src="Assets/Home/CartIcon.png" alt="Cart" (click)="DisplayCart()" 
        class="navbar-icon-img">
      </a>
    </div>
    
  </nav>

  <div *ngIf="cartVisible" class="cart-container">
    <shopping-cart (closeCartEvent)="closeCart()"></shopping-cart>
</div>
