
<div *ngIf="cartVisible" class="overlay no-scroll " (click)="closeCart()"></div>

<nav class="navbar">
    <!-- Logo Section -->
    <div class="logo-container" >
      <img src="Assets/Home/logo.png" alt="Logo" class="logo">
      <span class="brand-name">Furniro</span>
    </div>

    <!-- Navigation Links -->
    <ul class="navbar-links">
      <li><a routerLink="Home"    routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="Shop"    routerLinkActive="active-link">Shop</a></li>
      <li><a routerLink="About"   routerLinkActive="active-link">About</a></li>
      <li><a routerLink="Contact" routerLinkActive="active-link">Contact</a></li>
    </ul>


    <!-- Icons -->
    <div class="navbar-icons">
      <a  class="icon">
        <img *ngIf="!authService.userToken" src="Assets/Home/logIcon.png" alt="LogIn" class="navbar-icon-img"
        routerLink="Login">
        <h4 class ="logOut" *ngIf="authService.userToken" (click)="authService.logOut()">Log out</h4>
      </a>

      <h4 style='cursor: pointer;' *ngIf="authService.userToken && authService.isAdmin"
          routerLink="/Dashboard"
      >DashBoard</h4>

      
      <a  class="icon">
        <img src="Assets/Home/CartIcon.png" alt="Cart" (click)="cartService.isCartNotEmpty() && DisplayCart()" 
        class="navbar-icon-img">
        <span *ngIf="cartService.isCartNotEmpty()" 
          class="cart-item-count">{{ cartService.getCartItemCount() }}</span>
      </a>
    </div>
    
  </nav>

  <div *ngIf="cartVisible" class="cart-container">
    <shopping-cart (closeCartEvent)="closeCart()"></shopping-cart>
</div>
