
<nav class="navbar">
    <!-- Logo Section -->
    <div class="logo-container">
      <img src="Assets/Home/logo.png" alt="Logo" class="logo">
      <span class="brand-name">Furniro</span>
    </div>

    <!-- Navigation Links -->
    <ul class="navbar-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <!-- Icons -->
    <div class="navbar-icons">
      <a href="#" class="icon">
        <img src="Assets/Home/logIcon.png" alt="LogIn" class="navbar-icon-img">
      </a>
      <a href="#" class="icon">
        <img src="Assets/Home/SearchIcon.png" alt="Cart" class="navbar-icon-img">
      </a>
      <a href="#" class="icon">
        <img src="Assets/Home/LoveIcon.png" alt="User" class="navbar-icon-img">
      </a>
      <a href="#" class="icon">
        <img src="Assets/Home/CartIcon.png" alt="Phone" class="navbar-icon-img">
      </a>
    </div>
    
  </nav>