<div class="product-card">
 
  <div class="product-image">
    <image-loader *ngIf="!product.imageUrl"></image-loader>
    <img *ngIf="product.imageUrl" src= {{product.imageUrl}} alt="Product Image">
  </div>
  
  <!-- Black Mask -->
  <div class="product-mask"></div>

  <div class="product-info">
    <h3 class="product-title">{{product.name}}</h3>
    <p class="product-category">{{product.categoryName}}</p>
    <div class="product-pricing">
      <span class="current-price">{{'$ '+product.price}}</span>
      <span class="old-price">{{ '$ '+product.price }}</span>

    </div>
  </div>
  
  <div class="product-actions">
    
    <button class="action-button addToCart" (click)="addToCart(product)">Add to Cart</button>
    <button class="action-button moreProductInfo" 
    (click)="goToProductPage(product.id)"
    >More Info</button>
    
  </div>

  

</div>
