
<div class="image-gallery">
    
    <div class="center-div">
        <div>
          <h4>share your setup with</h4>
          <h1>#FurniroFurniture</h1>
        </div>
      </div>

    <img class="image1" src="Assets/Shared/SetupShare/image1.png" alt="Image 1">
    <img class="image2" src="Assets/Shared/SetupShare/image2.png" alt="Image 2">
    <img class="image3" src="Assets/Shared/SetupShare/image3.png" alt="Image 3">
    <img class="image4" src="Assets/Shared/SetupShare/image4.png" alt="Image 4">
    <img class="image5" src="Assets/Shared/SetupShare/image5.png" alt="Image 5">
    <img class="image6" src="Assets/Shared/SetupShare/image6.png" alt="Image 6">
    <img class="image7" src="Assets/Shared/SetupShare/image7.png" alt="Image 7">
    <img class="image8" src="Assets/Shared/SetupShare/image8.png" alt="Image 8">
    <img class="image9" src="Assets/Shared/SetupShare/image9.png" alt="Image 9">
    
  </div>
  
 