<div class="login-page">
    <div class="login-container">
        <div class="login-box">
            <h2 class="login-title">Sign Up</h2>
            <form class="login-form" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
                
            <div class="form-group-inline ">
                <div class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-input" type="text" id="username" [(ngModel)]="user.username" name="username" #username="ngModel" required minlength="3">
                    <div *ngIf="username.invalid && username.touched" class="error-message">
                        <span *ngIf="username.errors?.['required']">Username is required.</span>
                        <span *ngIf="username.errors?.['minlength']">Minimum 3 characters required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-input" type="email" id="email" [(ngModel)]="user.email" name="email" #email="ngModel" required email>
                    <div *ngIf="email.invalid && email.touched" class="error-message">
                        <span *ngIf="email.errors?.['required']">Email is required.</span>
                        <span *ngIf="email.errors?.['email']">Enter a valid email address.</span>
                    </div>
                </div>

            </div>

                <div class="form-group">
                    <label class="form-label" for="phone">Phone</label>
                    <input class="form-input" type="tel" id="phone" [(ngModel)]="user.phone" name="phone" #phone="ngModel" required pattern="^[0-9]{10}$">
                    <div *ngIf="phone.invalid && phone.touched" class="error-message">
                        <span *ngIf="phone.errors?.['required']">Phone number is required.</span>
                        <span *ngIf="phone.errors?.['pattern']">Enter a valid 10-digit phone number.</span>
                    </div>
                </div>

                <div class="form-group-inline">
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-input" type="password" id="password" [(ngModel)]="user.password" name="password" #password="ngModel"
                               required minlength="6" 
                               pattern="^(?=.*[A-Z])(?=.*\d)(?=.*\W).*$" (ngModelChange)="onConfirmPasswordChange()">
                        <div *ngIf="password.invalid && password.touched" class="error-message">
                            <span *ngIf="password.errors?.['required']">Password is required.</span>
                            <span *ngIf="password.errors?.['minlength']">Minimum 6 characters required.</span>
                            <span *ngIf="password.errors?.['pattern']">Password must have at least one uppercase letter, one digit, and one non-alphanumeric character.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <input class="form-input" type="password" id="confirmPassword" [(ngModel)]="user.confirmPassword"
                         name="confirmPassword" #confirmPassword="ngModel" required 
                         (ngModelChange)="onConfirmPasswordChange()">
                        <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error-message">
                            <span *ngIf="confirmPassword.errors?.['required']">Confirm password is required.</span>
                            <span *ngIf="user.password !== user.confirmPassword && confirmPassword.touched">Passwords do not match.</span>
                        </div>
                    </div>
               
                </div>

                <button type="submit" 
        class="btn-Bronw-background btn-hover-up" 
        [ngClass]="{'disabled-btn btn-hover-disabled': signupForm.invalid}" 
        [disabled]="signupForm.invalid">Sign Up</button>
            </form>

            <p class="signup-text">Already have an account? 
                <a routerLink="/Login" class="signup-link">Log in</a></p>
        </div>
    </div>
</div>
