<div class="form-section" *ngIf="activeSection === 'update'">
    <h3 class="section-title">Update Product</h3>

    <section class="search-section">
        <div class="search-container">
          <h4>Search for a Product</h4>
      
        <auto-complete-search-box class="autoComplete-copnt"
        [filteredItems]="filteredProductsName"
        (onSearch)="onSearch($event)"
        (itemSelected)="getProductPickedToUpdate($event)"
        [searchQuery]="searchQuery">
        </auto-complete-search-box>

        </div>
      </section>
      
<!-- Upload Section Wrapper -->
<section class="upload-section">
<!-- Image Upload Content -->
<div class="upload-content">
  <h3>Upload Product Image</h3>

  <!-- File Input -->
  <input type="file" #fileInput *ngIf="!selectedImage"
   (change)="onImageSelected($event)" 
   accept="image/*" class="file-input" />

  <!-- Image Preview & Remove Button -->
  <div *ngIf="selectedImage">
    <p>Image Preview:</p>
    <img [src]="selectedImage" alt="Uploaded Image" class="image-preview" />

    <!-- Remove Image Button -->
    <button class="remove-btn" (click)="removeImage()">Remove Image</button>
  </div>

 
</div>
</section>
    <div class="form-group">
        <label for="productName" class="form-label">Product Name</label>
        <input type="text" id="productName" class="form-input"
            placeholder="Enter product name" [(ngModel)]="productPickedToUpdateDto.name"
            name="productName" required />
    </div>

    <div class="form-group">
        <label for="productPrice" class="form-label">Product Price</label>
        <input type="number" id="productPrice" class="form-input"
            placeholder="Enter product price" [(ngModel)]="productPickedToUpdateDto.price"
            name="productPrice" required min="0" />
    </div>

    <div class="form-group">
      <label for="productPrice" class="form-label">Stock Quantity</label>
      <input type="number" id="productPrice" class="form-input"
          placeholder="Enter product price" [(ngModel)]="productPickedToUpdateDto.stockQuantity"
          name="productPrice" required min="0" />
  </div>

    <div class="form-group">
        <label class="form-label">Product Category</label>
        <dropdown label="Select Category" [options]="categoryNamesToPickByUser"
            (optionSelected)="whenUserSelectProductCategory_GetIt($event)"
             [selectedOption] = "selectedCategory"
             name="productCategory"
            width="10rem"></dropdown>
    </div>

    <div class="form-group">
        <label for="productDescription" class="form-label">Product Description</label>
        <textarea id="productDescription" class="form-input"
            placeholder="Enter product description" [(ngModel)]="productPickedToUpdateDto.description"
            name="productDescription" required></textarea>
    </div>

    <button type="submit" 
    class="btn-Bronw-background btn-hover-up submitBtn"
    (click)="updateProduct()">Update Product</button>
</div>