<!---->

<div class="straight-top-line"></div>

<div class="footer-parent">

   

<div class="footer">

    
    <div class="footer-section">
      <h3 class="logo-style">Furnio.</h3>
      <p>123 Main Street, New York, NY</p>
    </div>


    <div class="footer-section">
      <h3 class ="gray-font-color">Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>


    <div class="footer-section">
      <h3 class ="gray-font-color">Help</h3>
      <ul>
        <li><a href="#">Payment Options</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>


    <div class="footer-section">
      <h3 class ="gray-font-color">Newsletter</h3>
      <form class="newsletter-form">
        <input type="email" placeholder="Enter Your Email Address" class="newsletter-input no-border-top-left-right" />
        <button  class="subscribe-btn no-border-top-left-right">SUBSCRIBE</button>
      </form>
    </div>
    
   
 
</div>

<div class="straight-bottom-line"></div>

<div class="copyRight">2025 Furnio. All rights reserved</div>
</div>