.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
    gap: 1.5rem; /* Space between the items */
    padding: 1rem 5rem;
  }
  
  .product-item {
    background-color: #fff; /* Optional background for product items */ 
    
  }
  
 
  
  